<!DOCTYPE html>
<html>
<head>
	<title>Snacks!</title>
</head>
<body>
	<h1>I Love Snacks!</h1>
	<ul>
		<% @snacks.each do |snack| %>
		<li><%= link_to snack.name, snack_url(snack) %></li>
		<% end %>
	</ul>
</body>
</html>