<form action="/books" method="POST">
<input type="text" name="title" placeholder="Title"><br>
<input type="text" name="author" placeholder="Author"><br>
<input type="text" name="snippet" placeholder="Snippet"><br>	
<input type="submit" value="Create Book">
</form>