<form method="POST" action="/books">

<input type="text" name="author" placeholder="Author">
<input type="text" name="title" placeholder="Title">
<input type="text" name="snippet" placeholder="Snippet">
<input type="submit" value="Create New Book">
</form>